@charset "UTF-8";

@import "zerostyle";
@import "fonts";

/* common styles */
body {
    overflow-x: hidden;
    font-family: Lato;
    &.lock {
        overflow-y: hidden;
    }
}
.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}
.request-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff !important;
    width: 240px;
    min-height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 18px !important;
    font-weight: 700;
    transition: background-color 0.25s ease,
    border 0.25s ease;
    &.f {
        background-color: #d91233;
        &:hover {
            background: none;
            border: 2px solid #d91233;
        }
    }
    &.e {
        border: 2px solid #d91233;
        &:hover {
            background-color: #d91233;
            border: none;
        }
    }
    &.b {
        background-color: #d91233;
        &:hover {
            background-color: #5a5a5a;
            border: #5a5a5a;
            border: none;
        }
    }
}
.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.subtitle {
    font-size: 16px;
    text-align: center;
}
/* ------------- */

.home {
    background: url("../images/home/bg.webp") 50% 50% / cover no-repeat; 
}

.header {
    background: linear-gradient(to bottom, #1e1e1e70 0%, rgba(30, 30, 30, 0) 100%);
    height: 150px;
    .container {
        padding: 20px 15px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 508px) {
            flex-direction: column;
        }
    }

    &__left {
        @media(max-width: 508px) {
            margin: 0 0 20px 0;
        }
    }

    &__logo {
        color: #5a5a5a;
        font-size: 30px;
    }

    &__right {
        text-align: right;
        @media(max-width: 508px) {
            text-align: center;
        }
    }

    &__tel {
        color: #ffffff;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 6px 0;
    }

    &__back-call {
        color: #d91233 !important;
        font-size: 16px;
        text-decoration: underline;
    }
}

.main {
    padding: 30px 0 87px 0;
    color: #ffffff;
    &__title {
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 14px 0;
        text-align: center;
        @media(max-width: 576px) {
            font-size: 42px;
        }
    }

    &__subtitle {
        font-size: 30px;
        text-align: center;
        margin: 0 0 100px 0;
    }

    &__pluses {
        display: flex;
        justify-content: space-between;
        max-width: 627px;
        margin: 0 auto 100px auto;
        @media(max-width: 534px) {
            flex-wrap: wrap;
            justify-content: center;
            margin: -20px auto 100px auto;
        }
    }

    &__plus {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 165px;
        @media(max-width: 534px) {
            margin: 20px;
        }
    }

    &__plus-image {
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 27px 0;
    }

    &__plus-text {
        max-width: 164px;
        font-size: 18px;
        text-align: center;
    }

    &__requests {
        display: flex;
        justify-content: space-between;
        max-width: 520px;
        margin: 0 auto;
        @media(max-width: 529px) {
            margin: -20px auto;
            flex-wrap: wrap;
        }
    }

    &__request {
        @media(max-width: 529px) {
            width: 100%;
            margin: 20px;
        }
    }

    &__request-button {
        margin: 0 0 20px 0;
        @media(max-width: 529px) {
            width: 100%;
        }
    }

    &__request-text {
        max-width: 160px;
        text-align: center;
        margin: 0 auto;
        line-height: 21px;
        @media(max-width: 529px) {
            max-width: 100%;
        }
    }
}

.features {
    padding: 80px 0;
    overflow: hidden;
    &__list {
        display: flex;
        margin: -41px -46px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        text-align: center;
        max-width: 242px;
        margin: 41px 46px;
        @media(max-width: 605px) {
            max-width: 100%;
        }
    }

    &__image {
        display: block;
        margin: 0 auto 29px auto;
    }

    &__title {
        margin: 0 0 15px 0;
        font-size: 16px;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
        line-height: 17px;
    }
}

.request {
    background-color: #ebebeb;
    padding: 80px 0;
    &__title {
        margin: 0 0 21px 0;
    }

    &__subtitle {
        margin: 0 0 60px 0;
    }

    &__form {
        border: 5px solid #ffffff;
        padding: 30px;
        display: flex;
        @media(max-width: 767px) {
            flex-direction: column;
            padding: 25px 0;
        }
    }

    &__col {
        max-width: 240px;
        width: 100%;
        margin: 25px;
        @media(max-width: 767px) {
            max-width: 100%;
            width: auto;
            margin: 0 25px;
        }
    }

    &__name {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    /* all fields to fill */
    &__select,
    &__textarea,
    &__input,
    &__input-tel,
    &__submit {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding: 0 17px;
        font-size: 13px;
    }
    &__select {
        margin: 0 0 20px 0;
        &:last-child {
            margin: 0;
            @media(max-width: 767px) {
                margin: 0 0 20px 0;
            }
        }
    }

    &__textarea {
        margin: 0 0 20px 0;
        height: 120px;
        padding: 14px 17px;
        resize: none;
    }

    &__input {
        margin: 0 0 20px 0;
        &:last-child {
            margin: 0;
            @media(max-width: 767px) {
                margin: 0 0 20px 0;
            }
        }
    }

    &__input-tel {
        &::placeholder {
            color: black;
        }
        margin: 0 0 20px 0;
    }

    &__submit {
        margin: 30px 0 0 0;
        
    }
}

.stock {
    padding: 80px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin: 0 0 60px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
        justify-content: center;
        max-width: 800px;
    }

    &__item {
        margin: 10px;
        @media(max-width: 329px) {
            flex: 0 1 calc(50% - 20px);
        }
    }

    &__image {
        opacity: 0.6;
        transition: opacity .25s ease;
        &:hover {
            opacity: 1;
        }
        @media(max-width: 329px) {
            width: 100%;
        }
    }
}

.video {
    padding: 0 0 80px 0;
    &__title {
        margin: 0 0 60px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__iframe {
        padding: 15px;
        border: 5px solid #f2f2f2;
        max-width: 820px;
        width: 100%;
        height: 430px;
        @media(max-width: 639px) {
            height: 330px;
        }
        @media(max-width: 479px) {
            height: 250px;
        }
    }
}

.reviews {
    padding: 80px 0;
    overflow: hidden;
    background-color: #ebebeb;
    &__title {
        margin: 0 0 60px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -22px -28px;
        @media(max-width: 699px) {
            margin: -22px 0;
        }
    }

    &__item {
        flex: 1 0 calc(50% - 56px);
        margin: 22px 28px;
        display: flex;
        @media(max-width: 699px) {
            flex: 1 0 100%;
            margin: 22px 0;
        }
    }

    &__image {
        flex: 0 0 90px;
        height: 90px;
        margin: 0 20px 0 0;
        border-radius: 50%;
    }

    &__content {
        font-weight: 700;
    }

    &__name {
        font-size: 12px;
        color: #757575;
        margin: 0 0 8px 0;
    }

    &__title-review {
        font-size: 16px;
        color: #d91233;
        margin: 0 0 13px 0;
    }

    &__text {
        font-size: 13px;
        color: #2b2b2b;
    }
}

.consult {
    padding: 80px 0;
    background-color: #dbdbdb;
    &__title {
        margin: 0 0 21px 0;
    }

    &__subtitle {
        margin: 0 0 60px 0;
    }

    &__form {
        padding: 55px;
        border: 5px solid #ffffff;
        max-width: 740px;
        margin: 0 auto;
        @media(max-width: 767px) {
            padding: 25px;
        }
    }

    &__row {
        margin: 0 0 40px 0;
        display: flex;
        justify-content: center;
        &:last-child {
            margin: 0;
        }
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }

    &__col {
        width: 100%;
        &:first-child {
            margin: 0 20px 0 0;
            @media(max-width: 767px) {
                margin: 0 0 20px 0;
            }
        }
        &:last-child {
            margin: 0 0 0 20px;
            @media(max-width: 767px) {
                margin: 0;
            }
        }
    }

    &__name {
        font-size: 13px;
        color: #3b3b3b;
        margin: 0 0 10px 0;
    }

    &__input {
        width: 100%;
        height: 45px;
        padding: 0 17px;
    }

    &__input-tel {
        &::placeholder {
            color: black;
        }
    }

    &__submit {
        width: 300px;
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}

.contacts {
    position: relative;
    z-index: 0;
    .container {
        padding: 50px 0 210px 0;
        @media(max-width: 767px) {
            padding: 40px;
            background-color: #d91233;
        }
    }
	&__block {
        padding: 60px;
        width: 240px;
        z-index: 1;
        position: relative;
        background-color: #d91233;
        width: 480px;
        margin: 0 auto;
        color: #ffffff;
        text-align: center;
        @media(max-width: 767px) {
            position: static;
            width: 100%;
            padding: 0 0;
            margin: 0;
        }
	}
	&__title {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 40px 0;
	}
	&__address {
        font-size: 20px;
        margin: 0 0 30px 0;
	}
	&__phone {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 30px 0;
	}
	&__email {
        font-size: 20px;
        text-decoration: underline;
	}
	&__google-map {
        z-index: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        @media(max-width: 767px) {
            position: static;
            height: 400px;
        }
	}
}

.footer {
    background-color: #fff;
    padding: 30px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 508px) {
            flex-direction: column;
        }
    }

    &__left {
        @media(max-width: 508px) {
            margin: 0 0 20px 0;
        }
    }

    &__logo {
        color: #5a5a5a;
        font-size: 30px;
    }

    &__right {
        text-align: right;
        @media(max-width: 508px) {
            text-align: center;
        }
    }

    &__tel {
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 0 6px 0;
    }

    &__back-call {
        color: #d91233 !important;
        font-size: 16px;
        text-decoration: underline;
    }
}

/* fancybox popups */
.fancybox-close-small {
    display: none;
}
.popup {
    display: none;
    overflow: visible;
    text-align: center;
    padding: 40px 50px;
    &__title {
        font-weight: 700;
        margin: 0 0 6px 0;
    }

    &__text {
        font-size: 12px;
    }

    &__close {
        position: absolute;
        top: 0;
        right: -32px;
        width: 22px;
        height: 22px;
        background: url("../images/!popup/close.png") 50% 50% no-repeat;
        opacity: 1;
        transition: opacity .25s ease;
        &:hover {
            opacity: 0.5;
        }
        @media(max-width: 424px) {
            right: 10px;
            top: 10px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        margin: 0 0 10px 0;
        border: 1px solid #d0d0d0;
        height: 40px;
    }

    &__input-name {
        padding: 0 42px 0 15px;
        background: url("../images/!popup/01.png") calc(100% - 15px) 50% no-repeat;
    }

    &__input-tel {
        padding: 0 44px 0 15px;
        background: url("../images/!popup/02.png") calc(100% - 15px) 50% no-repeat;
    }

    &__input-email {
        padding: 0 45px 0 15px;
        background: url("../images/!popup/03.png") calc(100% - 15px) 50% no-repeat;
    }

    &__submit {
        margin: 5px 0 0 0;
        width: 100%;
        font-size: 16px !important;
        min-height: 45px;
    }
}
.popup-back-call {
    .popup {
		&__text {
            margin: 0 0 18px 0;
        }
    }
}
.popup-fast-back-call {
    .popup {
		&__text {
            margin: 0 0 18px 0;
        }
    }
}
